.clothes-container{
  display:flex;
  flex-direction: row;
}
.clothes-left{
  display: flex;
  flex-direction: column;
}
#clothes-clothes{
  margin: 0 auto;
}
#clothes-comment{
  white-space: pre-wrap;
  margin: 0 auto;
}
#clothes-style{
  display: flex;
  flex-direction: column;
  width: 370px;
  height: 600px;
  right: 0;
}