.clothes-container {
  display: flex;
  flex-direction: row;
  height: 594px;
  background: white;
}
.clothes-left {
  display: flex;
  flex-direction: column;
}

#clothes-comment {
  position: relative;
  left: 10px;
  white-space: pre-wrap;
  margin: 10px 0px 0px 0px;
  font-size: 18px;
  color: black;
  font-weight: normal;
}

#clothes-picture {
  position: absolute;
  top: 550px;
}

#clothes-text {
  white-space: pre-wrap;
  position: absolute;
  top: 650px;
  margin: 10px 0px 0px 10px;
  font-size: 18px;
  color: black;
  font-weight: normal;
}

#clothes-right {
  display: flex;
  flex-direction: column;
  width: 370px;
  height: 600px;
  right: 0;
  margin: 10px auto;
}

#clothes-right .title__button {
  display: flex;
}

#recommended-style {
  position: relative;
  left: 0px;
  top: 5px;
  margin: 0px 0px 20px 0px;
  display: flex;
  padding-right: 30px;
}

#newStyle-button {
  /*position: absolute;*/
  left: 1270px;
  width: 150px;
  height: 40px;
  display: flex;
}

.text {
  font-family: 'Cafe24';
  color: rgb(62, 93, 117);
  font-size: 25px;
  font-weight: bold;
}
