.container{
    width:650px;
    height: 600px;
    position: absolute;
    border: 1px solid black;
}
.clothes-container{
    width:300px;
    height: 580px;
    position: absolute;
    top:10px;
    left:10px;
    
}
.style-container{
    width:320px;
    height: 580px;
    position: absolute;
    top:10px;
    right:10px;
    
}
.np{
    font-family: 'Nanum Pen Script', cursive;
    font-size: x-large;
    font-weight: bold;
}
#newStyle{
    color: white;
}