#main-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#main-container{
  width:1400px;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-between;
}
#main-searchbar{
  display: flex;
  align-items: center;
  width: 800px;
  height: 40px;
  margin-top: 50px;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer
}
#main-weather{
  width:650px;
  height: 600px;
  border: 1px solid black;
}
#main-clothes{
  width:650px;
  height: 600px;
  border: 1px solid black;
}